body, p, button {
    color: #626262;
    font-family: 'Playfair Display', serif;
    font-style: 14px;
    line-height: 24px;
    font-weight: 400px;
}

.wrapper {
    width: 900px;
    margin: 0 auto;
}
.navigation ul{
    text-align: center;
}

.navigation li {
    display: inline-block;
    margin-top: 77px; 
    margin-right: 100px;
    margin-bottom: 100px;
}

nav li a {
    text-transform: uppercase;
}
.navigation li:last-child {
    margin-right: 0;
}
nav li a:hover {
    color: #03a9f4;
}

.post-wrap {
    font-size: 0;
}

.post {
    display: inline-block;
    width: 420px;
    margin-right: 60px;
    font-size: 14px;
    margin-bottom: 130px;
}

.post:nth-child(even) {
    margin-right: 0;
}

.post:nth-child(-n+2) {
    margin-bottom: 55px;
}

.post img {
    width: 100%;
    height: auto;
}

.post .category {
    font-family: 'Ubuntu', sans-serif 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-bottom: 27px;
}
.post h3 {
    font-size: 30px;
    margin-bottom: 35px;
}
.rd-more {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid;
    padding: 20px 35px;
    margin-bottom: 71px;
}
